<!DOCTYPE html>
<html>
<head>
	<title>Feedback</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item"><i class="book icon"></i></div>
			<a id="brandname" href="/" class="item">Feedback</a>
			<div class="item">
				<a href="/feedback/new" class="ui primary button">Add new!</a>
			</div>	
		</div>			
	</div>

